<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>HNG Stage 1 API || 404</title>
  </head>
  <body>
    <div>
      <h1>Sorry! Not Found</h1>
      <p>The resource you have requested does not exist.</p>
      <p>
        Pls navigate to the Home Page for more info. <a href="/">Go Home</a>
      </p>
    </div>
  </body>
</html>
