<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>HNG Stage 1 API</title>
  </head>
  <body>
    <h1>HNG Stage 1 API</h1>
    <form action="/api/hello" method="get">
      <fieldset>
        <label for="name">Visitor's Name:</label>
        <input type="text" id="name" name="visitor_name" required />
        <button type="submit">Submit</button>
      </fieldset>
    </form>
  </body>
</html>
